<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="dangki.hbs">
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://localhost:3000/sanpham">ShopQuanAo</a>
            </div>
            <ul class="nav navbar-nav">
                {{!-- <li class="active"><a href="http://localhost:3000/trangchu">Trang chủ</a></li> --}}

                <li><a href="http://localhost:3000/user">User</a></li>

                <li><a href="http://localhost:3000/sanpham">List sản phẩm</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:3000/dangkitaikhoan"><span class="glyphicon glyphicon-user"></span> Sign
                        Up</a>
                </li>
                <li><a href="http://localhost:3000/dangnhap"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <h2>Danh sách user</h2>

        <div>
            <a class="btn btn-sm btn-default navbar-left" href="http://localhost:3000/adduser">Thêm user</a>

            <form action="/searchuser">
                <div class="navbar-form navbar-right">
                    <input type="key" class="form-control" placeholder="Tìm kiếm" name="key">
                    <button class="btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
        </div>






        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    {{!-- <th>ID</th> --}}
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Quản lý</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    {{!-- <td>{{this._id}}</td> --}}
                    <td>{{this.ten}}</td>
                    <td>{{this.email}}</td>
                    <td>+84 {{this.sdt}}</td>
                    <td><a href="/updateuser/{{_id}}" class="btn btn-default btn-sm ">Sửa</a>
                        <a href="/delete/{{this._id}}"
                            onclick="return confirm('Bạn có chắc chắn muốn user {{this.ten}} này?')"
                            class="btn btn-default btn-sm"> Xóa </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script src="/app.js"></script>
</body>


</html>